<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0 user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    {% block extcss %} {% endblock extcss %}
    {% block extjs %} {% endblock extjs %}
    {% block title %} {% endblock title %}
</head>
<body>
    {% block main_body %} {% endblock main_body %}
</body>
{% block end_body %}
{% endblock end_body %}
</html>
